@media all and (min-width: 768px) and (max-width: 992px) {


    .container .filters-wrap {
        display: -ms-flexbox;
        display: flex;
        max-width: 1200px;
        width: 100%;
        height: auto;
        text-align: center;

        flex-wrap: wrap;
        align-items: center;
    }

    .container .hosts-selection {
        height: 800px;
    }

    .container .hosts-selection .panel h2 {
        font-size: 20px;
    }

    .container .hosts-selection .panel {
        margin-right: 10px;
        min-width: 50%;
    }

    .container .hosts-selection .panel .block {
        min-width: 30%;
        width: 42%;
        max-width: 100%;
    }


    /*Panel droit*/


    .container .hosts-selection .side-panel {
        background-color: #F2F2F2;
        height: 100%;
        width: 30%;
        max-width: 50%;
        border-radius: 20px;
        margin-right: 10px;
        padding: 10px 30px 0px 30px;
    }

    .container .hosts-selection .side-panel h2 {
        font-size: 20px;
    }

    .container .hosts-selection .side-panel i #fa-icon {
        float: right;
    }

    .container .hosts-selection .side-panel .block-side {
        height: 150px;
        min-height: 140px;
        margin-bottom: 90px;
        float: left;
    }

    .container .hosts-selection .side-panel .block-side img {
        width: 36%;
    }

    .container .hosts-selection .side-panel .block-side h4 {
        font-size: 15px;
        width: 50%;
        height: 40px;
        max-width: 50%;
        margin: 15px 0px 0px 0px;
    }


    .container .hosts-selection .side-panel .block-side p {
        margin: 12px 0px 10% 0px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .container .hosts-selection .side-panel .block-side .rate.break {
        margin: 0px 0px 0px 0px;
        vertical-align: bottom;
    }


    .container .hosts-selection .side-panel .block-side .rate {
        margin: 0px 0px 0px 0px;
        vertical-align: bottom;
    }


    /*Activitées*/


    .container .todo-selection {
        height: 600px;
        margin-bottom: 0px;
    }

    .container .todo-selection h2 {
        font-size: 20px;
    }

    .container .todo-selection .tiles .big-tile img {
        height: 370px;
    }

    .container .todo-selection .tiles .big-tile h4 {
        margin-left: 17px;
        margin-top: 5px;
    }

    .container .todo-selection .tiles .config .medium-tile img {
        height: 180px;
    }

    .container .todo-selection .tiles .config .medium-tile h4 {
        margin-left: 17px;
        margin-top: 5px;
    }


    .container .todo-selection .tiles .config .small-tile img {
        height: 100px;
    }

    .container .todo-selection .tiles .config .small-tile h4 {
        margin-left: 17px;
        margin-top: 5px;
    }

    .container .todo-selection .tiles .config {
        height: 420px;
        width: 23%;
        max-width: 25%;
        margin: 2% 2% 2% 0%;
    }

    footer {
        margin: 0px;
        width: 100%;
        min-width: 100%;
        background-color: #F2F2F2;

        display: grid;
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px;
    }

    footer a {
        text-decoration: none;
        color: #000;
    }


    #item1 {
        margin-left: 40px;
    }

    #item2 {
        margin-left: 40px;
    }

    #item3 {
        margin-left: 40px;
    }

}



/*******************************************Phone*******************************************/



@media all and (max-width: 768px) {

    *,
    html {
        margin: 0;
        padding: 0;
    }

    menu {
        margin: 0px;
        width: 100%;
    }

    header {
        width: 100%;
        height: 100px;
        display: block;
        margin: 0px;
    }

    .nav-container {
        width: 100%;
        justify-content: center;
    }

    .logo {
        margin: 30px 37% 45px 37%;
        width: 26%;
        height: auto;
        align-content: center;
        object-fit: cover;
    }

    a.main {
        float: right;
        margin: 0px;
        width: 50%;
        height: 40px;
        border-bottom: 4px;
        border-bottom-style: solid;
        border-bottom-color: #F2F2F2;
        font-size: 22px;
        color: #000;
        text-align: center;
        margin-bottom: 50px;
    }
    
    a.main:focus a.main:active {
        color: #0065FC;
        border-bottom-color: #0065FC;
    }
    

    a.main:hover {
        color: #0065FC;
        border-bottom-color: #0065FC;
        border-top: 0px;
        border-top-style: none;
        border-top-width: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }

    a.selected-main {
        float: left;
        margin: 0px;
        width: 50%;
        height: 40px;
        border-bottom: 4px;
        border-bottom-style: solid;
        font-size: 22px;
        color: #0065FC;
        text-align: center;
        margin-bottom: 50px;
    }

    .container {
        margin-left: 0px;
        max-width: 100%;
        width: 100%;
    }

    .container h2 {
        font-size: 30px;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .container p {
        font-size: 20px;
        margin-left: 30px;
    }

    /*Search Box*/

    .container form .inner-form {
        display: -ms-flexbox;
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 30px;
    }

    .container form .inner-form .input-field {
        height: 70px;
    }

    .container form .inner-form .input-field input {
        height: 100%;
        background: white;
        border: 0;
        display: block;
        width: 100%;
        padding: 10px 0;
        font-size: 28px;
        color: #000;
    }

    .container form .inner-form .input-field input.placeholder {
        color: #222;
        font-size: 28px;
    }



    .container form .inner-form .input-field.first-wrap {
        flex-grow: 1;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        background: #F2F2F2;
    }

    .container form .inner-form .input-field.first-wrap input {
        flex-grow: 1;
        padding-left: 20px;
    }

    .container form .inner-form .input-field.first-wrap .fa-wrapper {
        min-width: 70px;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    .container form .inner-form .input-field.second-wrap {
        min-width: 70px;
    }

    .container form .inner-form .input-field.second-wrap .btn-search {
        height: 100%;
        width: 100%;
        white-space: nowrap;
        font-size: 0px;
        color: #fff;
        border: 0;
        cursor: pointer;
        position: relative;
        z-index: 0;
        background: #0065FC;
        font-weight: 300;
        border-radius: 15px;
    }

    .container form .inner-form .input-field.second-wrap .btn-search i {
        font-size: 25px;
    }

    .container form .inner-form .input-field.second-wrap .btn-search:hover {
        background: #009451;
    }

    .container form .inner-form .input-field.second-wrap .btn-search:focus {
        outline: 0;
        box-shadow: none;
    }

    /*Filtres*/

    .container .filters-wrap {
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        height: 300px;
        align-items: center;
        text-align: center;
        margin-left: 20px;
    }

    .container h3 {
        width: 100%;
        margin-bottom: 20px;
        text-align: left;
        font-size: 25px;
    }


    .container .filters-wrap .filters-button {
        display: -ms-flexbox;
        display: flex;
        float: left;
        margin-left: 0px;
        margin: 0px 20px 20px 0px;
        max-width: max-content;
        min-width: max-content;
        padding-right: 25px;
        width: 100%;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        overflow: hidden;
        background: #FFF;
        cursor: pointer;

        -webkit-box-shadow: inset 0px 0px 0px 3px #F2F2F2;
        -moz-box-shadow: inset 0px 0px 0px 3px #F2F2F2;
        box-shadow: inset 0px 0px 0px 3px #F2F2F2;
    }

    .container .filters-wrap .filters-button:hover .fa-wrapper-filters {
        -webkit-animation: spin 0.3s linear;
        -moz-animation: spin 0.3s linear;
        animation: spin 0.3s linear;
    }

    .container .filters-wrap .filters-button .fa-wrapper-filters {
        min-width: 70px;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        color: #0065FC;
        background-color: #DEEBFF;
        height: 100%;
        border-radius: 100%;
        font-size: 20px;
    }

    .container .filters-wrap .filters-button .filters-name {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        line-height: 70px;
    }

    .container .filters-wrap .filters-button .filters-name p {
        display: -ms-flexbox;
        display: inline-block;
        text-align: center;
        clear: both;
        float: none;
        margin-left: 0px;
    }

    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .container .info {
        margin-left: 30px;
        margin-top: 50px;
        width: 100%;
        max-width: 100%;
        height: 30px;
        float: left;
        color: #F2F2F2;
        display: flex;

    }

    .container .info .fa-wrapper-info {
        height: 100%;
        width: 30px;
        background-color: #FFF;
        border-radius: 100%;
        color: #0065FC;
        display: -ms-flexbox;
        display: flex;
        font-size: 18px;
        float: left;
        margin-right: 20px;
        padding: 5px;
        -webkit-box-shadow: inset 0px 0px 0px 1px #F2F2F2;
        -moz-box-shadow: inset 0px 0px 0px 1px #F2F2F2;
        box-shadow: inset 0px 0px 0px 1px #F2F2F2;
    }

    .container .info .info-text {
        display: -ms-flexbox;
        display: flex;
        text-align: start;
        float: left;
        clear: both;
    }


    .container .info .info-text span {
        font-size: 20px;
        max-width: 90%;
    }


    .container .hosts-selection {
        margin-top: 80px;
        margin-left: 0px;
        width: 100%;
        max-width: 100%;
        height: auto;
        display: flex;
        float: left;
        flex-direction: column-reverse;
    }

    .container .hosts-selection .panel {
        background-color: #FFF;
        height: 2000px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border-radius: 0px;
        padding-left: 0px;
        padding-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
    }

    .container .hosts-selection .panel h2 {}

    .container .hosts-selection .panel .block {
        background-color: #FFF;
        min-width: 90%;
        width: 90%;
        max-width: 90%;
        height: 290px;
        float: left;
        border-radius: 30px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-bottom: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .container .hosts-selection .panel .block img {
        height: 165px;
        max-width: 100%;
        width: 100%;
        padding: 7px;
        object-fit: cover;
        border-radius: 30px 30px 0px 0px;
    }


    .container .hosts-selection .panel .block h4 {
        margin: -10px 0px 0px 20px;
        width: 100%;
        font-size: 22px;
    }

    .container .hosts-selection .panel .block p {
        margin: -10px 200px 0px 20px;
        font-size: 18px;
    }

    .container .hosts-selection .panel .block .rate {
        margin: 0px 0px 0px 20px;
        font-size: 15px;
        color: #0065FC;
    }

    .container .hosts-selection .panel a {
        color: #000;
        text-decoration: none;
        margin-left: 30px;
        font-size: 25px;
        font-weight: bold;
    }


    /*Panel droit*/


    .container .hosts-selection .side-panel {
        background-color: #F2F2F2;
        height: 800px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        margin-right: 0px;
        padding: 50px 0px 0px 0px;
    }

    .container .hosts-selection .side-panel i#fa-icon {
        float: right;
        padding-right: 25px;
        margin-bottom: 50px;
    }


    .container .hosts-selection .side-panel .block-side {
        background-color: #FFF;
        width: 90%;
        height: 190px;
        min-height: 140px;
        float: left;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        border-radius: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding-bottom: 14px;
        margin-bottom: 20px;
        margin-left: 5%;
    }

    .container .hosts-selection .side-panel .block-side img {
        width: 40%;
        min-height: 100%;
        height: 100%;
        padding: 7px;
        margin-right: 0px;
        object-fit: cover;
        border-radius: 30px 0px 0px 30px;
    }

    .container .hosts-selection .side-panel .block-side h4 {
        width: 50%;
        max-width: 50%;
        height: auto;
        margin: 20px 0px 0px 0px;
        font-size: 22px;
    }


    .container .hosts-selection .side-panel .block-side p {
        width: 50%;
        max-width: 50%;
        margin: 12px 0px 0px 0px;
        font-size: 18px;
    }

    .container .hosts-selection .side-panel .block-side .rate.break {
        margin: 60px 0px 0px 0px;
    }

    .container .hosts-selection .side-panel .block-side .rate {
        margin: 60px 0px 0px 0px;
        font-size: 15px;
        color: #0065FC;
        bottom: 0;
    }


    /*Activitées*/


    .container .todo-selection {
        margin-right: 40px;
        margin-top: 40px;
        width: 100%;
        height: 2000px;
        float: left;
        display: flex;
        flex-direction: column;
    }

    .container .todo-selection h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .container .todo-selection .tiles {
        width: 100%;
        min-width: 100%;
        height: 1760px;
        float: left;
        display: flex;
        flex-wrap: wrap;
    }

    .container .todo-selection .tiles .big-tile {
        width: 90%;
        min-width: 90%;
        height: 280px;
        border-radius: 30px;
        margin-bottom: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 5%;
    }

    .container .todo-selection .tiles .big-tile img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .container .todo-selection .tiles .big-tile h4 {
        margin-left: 30px;
        margin-top: 20px;
        font-size: 22px;
        font-weight: bolder;
    }


    .container .todo-selection .tiles .config .medium-tile {
        width: 90%;
        min-width: 90%;
        height: 280px;
        border-radius: 30px;
        margin-bottom: 30px;
        margin-top: 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 5%;
    }

    .container .todo-selection .tiles .config .medium-tile img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .container .todo-selection .tiles .config .medium-tile h4 {
        margin-left: 30px;
        margin-top: 20px;
        font-size: 22px;
        font-weight: bolder;
    }


    .container .todo-selection .tiles .config .small-tile {
        width: 90%;
        min-width: 90%;
        height: 280px;
        border-radius: 30px;
        margin-bottom: 30px;
        margin-top: 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 5%;
    }


    .container .todo-selection .tiles .config .small-tile img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .container .todo-selection .tiles .config .small-tile h4 {
        margin-left: 30px;
        margin-top: 20px;
        font-size: 22px;
        font-weight: bolder;
    }

    .container .todo-selection .tiles .config {
        height: auto;
        width: 100%;
        min-width: 100%;
        margin: 0px 0px 0px 0px;
    }

    footer {
        width: 100%;
        min-width: 100%;
        background-color: #F2F2F2;
        padding-top: 60px;
        display: grid;
        height: 750px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }


    footer h4 {
        font-size: 27px;
        margin-bottom: 20px;
    }

    footer a {
        text-decoration: none;
        color: #000;
    }


    #item1 {
        margin-left: 40px;
        font-size: 22px;
    }

    #item2 {
        margin-left: 40px;
        font-size: 22px;
    }

    #item3 {
        margin-left: 40px;
        font-size: 22px;
    }
















}
